body {
    font-family: Arial, sans-serif;
    background: #ffe5f2;
    height: 100vh;
    margin: 0;

    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background: white;
    width: 350px;
    padding: 35px;
    border-radius: 20px;
    text-align: center;
    box-shadow: 0 0 20px #ffb3d6;
}

h1 {
    color: #ff4fa6;
}

input {
    width: 90%;
    padding: 14px;
    margin: 10px 0;
    border-radius: 10px;
    border: 1px solid #d8a5bd;
    font-size: 16px;
}

button {
    padding: 12px 25px;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    font-size: 16px;
    background: #ff8ccd;
    color: white;
}

button:hover {
    background: #ff67c2;
}

.senha-box {
    display: flex;
    justify-content: center;
    align-items: center;
}

.senha-box input {
    width: 75%;
}

.senha-box button {
    background: #ffe4f3;
    color: #444;
    margin-left: 5px;
}

.alternar {
    background: #ffd4ec;
    color: #333;
}