
body {
    background: #2b001d; /* Magenta escuro */
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    color: #ffb3e6;
}

/* Card central */
.container {
    background: #4d0037; 
    width: 350px;
    padding: 35px;
    border-radius: 20px;
    text-align: center;
    box-shadow: 0px 0px 25px rgba(255, 100, 200, 0.4);
    border: 2px solid #ff1faf; 
}

/* título */
h1 {
    color: #ffb3e6;
    margin-bottom: 20px;
    font-size: 30px;
}

input {
    width: 90%;
    padding: 12px;
    margin: 10px 0;
    border-radius: 10px;
    border: 2px solid #ff1faf;
    background: #660048;
    color: #ffe1f8;
    font-size: 16px;
}

input::placeholder {
    color: #ffb3e6;
}

/* lugar da senha */
.senha-box {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

/* botão de mostrar a senha */
.toggle {
    padding: 10px;
    border-radius: 10px;
    border: none;
    background: #cc0083;
    cursor: pointer;
    font-size: 16px;
    color: white;
}

.toggle:hover {
    background: #e60093;
}

/* botões principais */
.btn {
    background: #ff0fa1;
    color: white;
    padding: 12px;
    width: 95%;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 10px;
    font-size: 16px;
}

.btn:hover {
    background: #ff008d;
}

/* botão secundário de cadastro etc */
.btn-secondary {
    background: #cc0083;
    color: white;
    padding: 12px;
    width: 95%;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 10px;
    font-size: 16px;
}

.btn-secondary:hover {
    background: #e60093;
}