:root {
    --bg: #ffe6f7;
    --card: #ffffff;
    --border: #ff69c7;
    --text: #660033;
    --input-bg: #fff;
    --input-text: #660033;
    --btn: #ff4fbf;
    --btn-hover: #ff2fa9;
    --secondary: #ff8add;
    --secondary-hover: #ff79d6;
}

.dark {
    --bg: #2b001d;
    --card: #4d0037;
    --border: #ff1faf;
    --text: #ffb3e6;
    --input-bg: #660048;
    --input-text: #ffe1f8;
    --btn: #ff0fa1;
    --btn-hover: #ff008d;
    --secondary: #cc0083;
    --secondary-hover: #e60093;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: var(--bg);
    color: var(--text);
    transition: 0.3s ease;
}

.container {
    background: var(--card);
    width: 350px;
    padding: 35px;
    border-radius: 20px;
    text-align: center;
    box-shadow: 0px 0px 25px rgba(255, 100, 200, 0.4);
    border: 2px solid var(--border);
    transition: 0.3s ease;
}

h1 {
    color: var(--text);
    margin-bottom: 20px;
    font-size: 30px;
}

input {
    width: 90%;
    padding: 12px;
    margin: 10px 0;
    border-radius: 10px;
    border: 2px solid var(--border);
    background: var(--input-bg);
    color: var(--input-text);
    font-size: 16px;
}

input::placeholder {
    color: #ffb3e6;
}

.senha-box {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.toggle {
    padding: 10px;
    border-radius: 10px;
    border: none;
    background: var(--secondary);
    cursor: pointer;
    font-size: 16px;
    color: white;
}

.toggle:hover {
    background: var(--secondary-hover);
}

.btn {
    background: var(--btn);
    color: white;
    padding: 12px;
    width: 95%;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 10px;
    font-size: 16px;
}

.btn:hover {
    background: var(--btn-hover);
}

.btn-secondary {
    background: var(--secondary);
    color: white;
    padding: 12px;
    width: 95%;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 10px;
    font-size: 16px;
}

.btn-secondary:hover {
    background: var(--secondary-hover);
}