* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #68003d;
    color: rgb(253, 237, 247);
    transition: 0.3s;
}

.light {
    background: #f899d1;
    color: #8a005a;
}

.container {
    width: 350px;
    background: rgba(59, 1, 32, 0.404);
    padding: 30px;
    border-radius: 20px;
    backdrop-filter: blur(10px);
    text-align: center;
    border: 2px solid #dd10a3;
}

.container h2 {
    margin-bottom: 20px;
}

.campo {
    margin-bottom: 15px;
    position: relative;
}
  

input {
    width: 100%;
    padding: 12px;
    border-radius: 12px;
    border: 2px solid #fd62c7;
    background: rgba(255, 159, 215, 0.836);
    color: white;
    font-size: 16px;
}

.light input {
    background: rgb(255, 230, 241);
    color: hwb(321 40% 4%);
    border-color: #ce1599;
}

button {
    width: 100%;
    padding: 12px;
    border-radius: 12px;
    border: none;
    background: #f118a5;
    color: white;
    font-size: 18px;
    cursor: pointer;
}

button:hover {
    background: #f31fb3;
}

a {
    color: #ee069d;
}

.olho {
    width: 23px;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
    cursor: pointer;
    filter: drop-shadow(0 0 3px #ff78e2);
}

.toggle-password {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 20px;
    color: #ff5ad9;
}

#toggleTheme {
    position: absolute;
    top: 15px;
    right: 15px;
    background: transparent;
    border: none;
    font-size: 28px;
    cursor: pointer;
}

.flutuar {
    animation: flutuar 3s ease-in-out infinite;
}

@keyframes flutuar {
    0% { transform: translateY(0); }
    50% { transform: translateY(-15px); }
    100% { transform: translateY(0); }
}

#preloader {
    position: fixed;
    background: #ff52cb;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99;
}

.light #preloader {
    background: hwb(327 38% 0%);
}

.loader {
    width: 60px;
    height: 60px;
    border: 6px solid #ff4bbf;
    border-top: 6px solid transparent;
    border-radius: 50%;
    animation: girar 1s linear infinite;
}

#toggleTheme {
    text-shadow: 0 0 6px #ff69ff, 0 0 12px #ff69ff;
    transition: 0.2s;
}

#toggleTheme:hover {
    transform: scale(1.15);
}


@keyframes girar {
    to { transform: rotate(360deg); }
}